.Dropdown {
    width: fit-content;
}

.triggerBtn {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    width: fit-content;
}

.items {
    position: absolute;

    display: flex;
    outline: none;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--listbox-options-list-bg);
    border-radius: 8px;
    padding: 4px;
    white-space: nowrap;
}

.itemBtn {
    display: block;
    text-align: start;
    width: 100%;
    padding: 6px 12px;
    border-radius: 8px;
}
