.LoginForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 400px;
}

.loginBtn {
    margin-left: auto;
}

@media (max-width: 560px) {
    .LoginForm {
        min-width: unset;
    }
}
