.Modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: var(--overlay-color);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    // transition: 0.2s;
    // z-index: -1;
    // opacity: 0;
    // pointer-events: none;
}

.content {
    background: var(--bg-color);
    padding: 15px;
    border-radius: 10px;
    max-width: 60%;

    transition: transform 0.2s;

    // transform: scale(0.2);
}

.opened {
    opacity: 1;
    z-index: 1;
    pointer-events: auto;

    // .content {
    //     transform: scale(1);
    // }
}

.modalTransitionEnter {
    opacity: 0;

    .content {
        transform: scale(0.2);
    }
}

.modalTransitionEnterDone {
    opacity: 1;
    transition: 0.2s;

    .content {
        transform: scale(1);
    }
}

.modalTransitionExitActive {
    opacity: 0;
    transition: 0.2s;

    .content {
        transform: scale(0.2);
    }
}
