.Button {
    cursor: pointer;
    outline: none;
    padding: 5px 10px;
    border: none;
}

.clear,
.clearInverted {
    border: none;
    background: none;
    color: var(--primary-color);
}

.clearInverted {
    color: var(--inverted-primary-color);
}

.primary {
    border: 1px solid black;
    background-color: var(--primary-color);
}

.outlined {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: none;

    &:focus {
        box-shadow: 0 0 5px var(--primary-color);
    }
}

.outlined-error {
    border: 1px solid var(--red-light);
    color: var(--red-light);
    background: none;

    &:focus {
        box-shadow: 0 0 5px var(--red-light);
    }
}

.background {
    background: var(--bg-color);
    color: var(--primary-color);
}

.backgroundInverted {
    background: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
}

.S {
    font: var(--font-s);
}

.M {
    font: var(--font-m);
}

.L {
    font: var(--font-l);
}

.XL {
    font: var(--font-xl);
}

.square {
    padding: 0;
}

.square.S {
    width: var(--font-line-s);
    height: var(--font-line-s);
}

.square.M {
    width: var(--font-line-m);
    height: var(--font-line-m);
}

.square.L {
    width: var(--font-line-l);
    height: var(--font-line-l);
}

.square.XL {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
}

.disabled {
    opacity: 0.5;
}
