.Navbar {
    height: var(--header-height);
    width: 100%;
    background: var(--inverted-bg-color);
    padding: 15px;
    display: flex;
}

.links {
    margin-left: auto;
    display: flex;
    gap: 10px;
}
