.Title {
    font: var(--font-l);
    color: var(--primary-color);
}

.error.Title {
    color: var(--red-dark);
}

.center.Title {
    text-align: center;
}

.s {
    font: var(--font-m);
}

.m {
    font: var(--font-l);
}

.l {
    font: var(--font-xl);
}
