$small-grid-gap: 30px;
$big-cards-margin: 18px;

.BIG {
    .card {
        margin-bottom: $big-cards-margin;
    }

    .list {
        margin-bottom: $big-cards-margin;
    }
}

.SMALL {
    .list,
    .skeletonsContainer {
        display: flex;
        flex-wrap: wrap;
        gap: $small-grid-gap;
    }

    .skeletonsContainer {
        margin-top: $small-grid-gap;
    }
}

.recommendationsContainer {
    display: flex;
    gap: $small-grid-gap;
}
